<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
  </head>
  <body>
    <div>
      <h1>Please login to add your own Predators</h1>
      <form action="" method="POST">
        <input
          type="text"
          placeholder="User Name"
          name="username"
          value="{{ request.form.username }}"
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
          value="{{ request.form.password }}"
        />
        <input type="submit" value="login" />
      </form>
      {% if error %}
      <p>Error: {{ error }}</p>
      {% endif %}
      <br />
      {% for message in get_flashed_messages() %}
      {{ message }}
      {% endfor %}
    </div>
  </body>
</html>
